<.flash_group flash={@flash} />
<div class="object-center text-center pt-20">
  JOBEX
  <div class="p-10 text-center hover:text-blue-400 underline decoration-blue-400">
    <.link href="/jobs/home">JOBS</.link>
  </div>
</div>
