<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Crow</title>
    <link rel="shortcut icon" href="/favicon.ico?" sizes="32x32">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css"?
  </head>
    <body style='padding-top: 70px;'>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">
          <img src="/images/icon.svg"></img>
          Crow
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <%# hdr_link(@conn, "Schedule", "/schedule") %>
            <%# hdr_link(@conn, "LOGS", "/logs") %>
            <%# hdr_link(@conn, "STATS", "/stats") %>
          </ul>
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="text-white"><%= live_render(@conn, CrowWeb.TimeSec) %></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <%= if info_msg = get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= info_msg %></p>
        <% end %>
        <%= if error_msg = get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= error_msg %></p>
        <% end %>
        <%= render @view_module, @view_template, assigns %>
        <div style='margin-top: 40px;'>
        <hr>
        <small>
        <div class="row">
          <div class="col-md-4">
            Cron Workflow
          </div>
          <div class="col-md-4 text-center">
            <%= Application.get_env(:crow_web, :env) |> inspect |> String.replace(":", "") |> String.capitalize() %>
          </div>
          <div class="col-md-4 text-right">
            <a href="/schedule">Schedule</a>
          </div>
        </div>
        </small>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
