<div class="row">
  <div class="col-md-3">
    <b>States</b>
    <ul>
      <li>
        asdf
      </li>
      <li>
        qwer
      </li>
    </ul>
    <hr/>
    <b>Queues</b>
    <ul>
      <li>
        asdf
      </li>
      <li>
        qwer
      </li>
    </ul>
    <hr/>
    <b>Types</b>
    <ul>
      <li>
        asdf
      </li>
      <li>
        qwer
      </li>
    </ul>
  </div>

  <div class="col-md-9">
    <b>Executing Jobs (25)</b>
    <hr/>
    asdf
  </div>
</div>
