<h3 class="text-lg font-bold mb-4">Admin</h3>

<div class="mb-6">
  <h4 class="font-semibold mb-2">CSV Schedule</h4>
  <%= live_render(@conn, JobexWeb.Live.Admin.CsvManager, id: "csv-manager") %>
</div>

<hr class="my-4" />

<div class="mb-6">
  <%= live_render(@conn, JobexWeb.Live.Admin.Base, id: "admin-base") %>
</div>
